<footer>
  <div class="container">
    <div class="row footer-row">
      <div class="col-md-5 d-flex justify-content-between flex-column">
        <h3>Logo</h3>
        <p class="text-small">
          2017 Forma LLC. All rights reserved.
        </p>
      </div>
      <div class="col-md-3 d-flex justify-content-between flex-column">
        <p class="footer-brand">Keep in touch with us</p>
        <div class="sm-wrapper">
          <span class="sm-item">fb</span>
          <span class="sm-item">tw</span>
          <span class="sm-item">vm</span>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-between flex-column">
        <div class="row footer-nav">
          <div class="col-4">
            <div class="footer-nav-item">Festival Programme</div>
          </div>
          <div class="col-4">
            <div class="footer-nav-item">Plan Your Experience</div>
          </div>
          <div class="col-4">
            <div class="footer-nav-item">Media</div>
          </div>
          <div class="col-4">
            <div class="footer-nav-item">Support the Festival</div>
          </div>
          <div class="col-4">
            <div class="footer-nav-item">About</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
