//colors

$gray-800: #19191a;

// Fonts
$font-family-sans-serif: Montserrat, -apple-system, BlinkMacSystemFont, Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif;
$h1-font-size: 72px;
$h2-font-size: 24px;

// Buttons
$input-btn-font-size: 11px;
$btn-border-width: 3px;

$btn-font-weight: 600;
$btn-border-radius: 0;

// Navs

$navbar-nav-link-padding-x: 18px;

// Slick

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
