<section id="home-intro" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Michelangelo</h1>
        <h2>The quest for the sacred and eternal</h2>
        <a class="btn btn-outline-dark home-btn" routerLink="/contact"
          >READ MORE</a
        >
      </div>
    </div>
  </div>
</section>
<section id="events">
  <div class="container">
    <div class="row">
      <!-- LETS AVOID COMPONENTS HERE -->
      <div class="col-sm-6 col-md-6 col-lg-3 event-row">
        <div class="event">
          <div class="bg"></div>
          <div class="event-content d-flex align-content-between flex-wrap">
            <p class="event-title">2016 Festival & Performance Guide</p>
            <span class="event-date">October 8, 2017</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 event-row">
        <div class="event">
          <div class="bg"></div>
          <div class="event-content d-flex align-content-between flex-wrap">
            <p class="event-title">
              Michelangelo: The quest for the sacred and eternal
            </p>
            <span class="event-date">October 16, 2017</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 event-row">
        <div class="event">
          <div class="bg"></div>
          <div class="event-content d-flex align-content-between flex-wrap">
            <p class="event-title">
              Grand Hall Music Festival presents James Simon's The Spirit World
            </p>
            <span class="event-date">October 25, 2017</span>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3 event-row">
        <div class="event">
          <div class="bg"></div>
          <div class="event-content d-flex align-content-between flex-wrap">
            <p class="event-title">
              Robert Blake’s exhibition: An immersive experience through time
            </p>
            <span class="event-date">November 1, 2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="slider">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="slider-bottom">
          <div class="slider">
            <div class="row d-flex justify-content-end">
              <img
                class="slider-img"
                src="../../assets/imgs/slider.png"
                alt="slider 1"
              />
              <div class="col-sm-8 slider-content">
                <h2>
                  Winston Creek Regional Museum to host a new exhibit: An ocean
                  of awe
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur.
                </p>
                <button class="btn btn-outline-dark">READ MORE</button>
              </div>
            </div>
          </div>
          <div class="slider">
            <div class="row d-flex justify-content-end">
              <img
                class="slider-img"
                src="../../assets/imgs/slider2.png"
                alt="slider 1"
              />
              <div class="col-sm-8 slider-content">
                <h2>
                  Another amazing slider
                </h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                  irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur.
                </p>
                <a class="btn btn-outline-dark" routerLink="/contact"
                  >READ MORE</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
